.hide {
    display: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

#content_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        width: fit-content;
        font-size: 35px;
        text-align: center;
        font-weight: 100;

        margin-left: 1em;
        min-width: 4em;

        p {
            margin: 0;
            font-size: 17px;
            color: #6D6D6D;
        }
    }


    #content_buttons {
        display: inline;
        min-width: 8em;

        button {
            cursor: pointer;
            box-shadow: 1px 1px 6px 0px #0000006e;
            background-color: white;
            padding: 8px 10px;
            border-radius: 15px;
            border: 1px solid rgba(30, 32, 41, 0.17);
            height: 55px;

            ion-icon {
                color: white;
                background-color: black;
                border-radius: 50%;
                padding: 5px;
                font-size: 2em;
            }
        }

    }
}

/* Notificaciones */
ul.notifications {
    position: absolute;
    z-index: 100;
    width: fit-content;
    padding: 0;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0;
    left: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32em;
        gap: 12px;
        margin: 5px;
        border-radius: 10px;
        background-color: #1E2029;

        span {
            display: contents;

            p {
                padding: 0 2.5em 0 1em;
            }

            i {
                font-size: 25px;
                cursor: pointer;
                position: absolute;
                right: 13px;
            }
        }
    }

    li.successNotification {
        color: #14F546;
        border: 2px #14F546 solid;
    }

    li.errorNotification {
        color: #F51414;
        border: 2px #F51414 solid;
    }
}

/* FIN de notificaciones */
html {
    background-color: $primary-Black-BO;
}

body {
    background-color: $primary-Black-BO;
    font-family: "Lexend Deca Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin: 0;

    height: -webkit-fill-available;
    width: -webkit-fill-available;

    overflow: auto;
}

main.internal_view {
    background-color: $primary-White-BO;
    // width: 82vw;
    height: 100vh;
    border-radius: 60px 0px 0px 0px;

    // position: sticky;
    // top: 0;

    color: $primary-Black-BO;
    display: inline-table;
}

button,
input,
select,
textarea {
    font-family: "Lexend Deca Light", sans-serif;
    font-weight: normal;
}

/* Inputs */
.contentInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    position: relative;
    width: -webkit-fill-available;

    label {
        color: white;
        font-size: 1.2em;
        margin-bottom: 5px;
        text-align: left;
    }

    ion-icon {
        position: absolute;
        left: 10px;
        top: 68%;
        transform: translateY(-50%);
        color: #545358;
        font-size: 1.5em;
    }

    input {
        line-height: 2em;
        height: 3.2em;
        padding: 0 10px;
        padding-left: 40px;
        font-size: 1em;
        background-color: $secondary-Black-BO;
        border: 0px;
        border-bottom: 3px solid $primary-Blue-BO;
        outline: none;
        border-radius: 10px;
        color: #545358;
    }

    select {
        line-height: 2em;
        height: 50px;
        padding: 0 10px;
        font-size: 1em;
        background-color: $secondary-Black-BO;
        border: 0px;
        border-bottom: 3px solid $primary-Blue-BO;
        outline: none;
        border-radius: 10px;
        color: #545358;
        cursor: pointer;

        appearance: none; // Oculta la flecha nativa
        -webkit-appearance: none;
        -moz-appearance: none;
        //padding: 10px 40px 10px 15px;
    }

    input:focus {
        box-shadow: 0px 4px 4.5px 0px $secondary-Blue-Brandeis-BO;
        border-bottom: 3px solid transparent !important;
    }

    input:focus,
    input:not(:placeholder-shown) {
        line-height: 2em;
        height: 50px;
        padding: 0 10px;
        padding-left: 40px;
        font-size: 1em;
        background-color: $secondary-Black-BO;
        border: 0px;
        border-bottom: 3px solid $primary-Blue-BO;
        outline: none;
        border-radius: 10px;
        color: white;
    }

    input:focus~ion-icon,
    input:not(:placeholder-shown)~ion-icon {
        color: white;
    }
}

.contentInputs.light {
    label {
        color: $primary-Black-BO;
    }

    ion-icon {
        color: #5d5b5b;
    }

    input,
    select {

        // background-color: white;
        // border-bottom: 3px solid $primary-Blue-BO;
        color: $primary-Black-BO;
        background-color: rgba(30, 32, 41, 0.02); //este es el secondary-Black-BO pero con opacidad de 0.02
        box-shadow: 0px 1.5px 0px rgba(62, 113, 210, 0.671); // este es el primary-Blue-BO pero con opacidad de 0.671
        border: 3px solid transparent !important;
    }

    input:focus {
        // box-shadow: 0px 4px 4.5px 0px #5d5b5b;
        box-shadow: 0px 2px 2px rgba(62, 113, 210, 0.671); // este es el primary-Blue-BO pero con opacidad de 0.671
        // border-bottom: 3px solid transparent !important;
    }

    input:focus,
    input:not(:placeholder-shown) {
        color: $primary-Black-BO;
        // background-color: white;
        // border-bottom: 3px solid #5d5b5b;
        box-shadow: 0px 2px 2px rgba(62, 113, 210, 0.671); // este es el primary-Blue-BO pero con opacidad de 0.671

    }

    input:focus~ion-icon,
    input:not(:placeholder-shown)~ion-icon {
        color: $primary-Black-BO;
    }
}

.contentPassword {
    ion-icon[name^="eye"] {
        position: absolute;
        right: 10px;
        left: auto;
        top: 68%;
        transform: translateY(-50%);
        color: white;
        font-size: 1.5em;
    }

    input {
        padding-right: 40px;
    }
}

.contentCheck {
    label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        color: $primary-Black-BO;
    }

    input[type="checkbox"] {
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 2px solid rgba(62, 113, 210, 0.671);
        border-radius: 0.25rem;
        display: grid;
        place-content: center;
        background-color: white;
        outline: none;
        transition: background-color 0.2s, border-color 0.2s;
    }

    input[type="checkbox"]:checked {
        background-color: #8fb0f5;
        border-color: #8fb0f5;
    }

    input[type="checkbox"]:checked::after {
        content: "✔";
        font-size: 0.8rem;
        color: white;
    }
}

.contentCheck.md {
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
    }

    input[type="checkbox"]:checked::after {
        font-size: 1rem;
    }
}

.contentInputs.md {
    label {
        // font-size: 1em;
        font-size: 0.8em;
    }

    input,
    select {
        font-size: 13px;
        height: 3.2em;
        border-radius: 5px;
    }


    ion-icon {
        font-size: 1.3em;
        top: 70%;
    }
}

.contentInputs.contentSelect.md::after {
    content: "\f107";
    font-family: 'fontAwesome';
    font-size: 16px;
    color: #333;
    position: absolute;
    top: 70%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}

.contentInputs.contentSwitch {
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 28px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        background-color: #ccc;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.4s;
    }

    .slider:before {
        content: "";
        position: absolute;
        height: 22px;
        width: 22px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }

    /* Activado */
    input:checked+.slider {
        background-color: #4caf50;
    }

    input:checked+.slider:before {
        transform: translateX(22px);
    }

}

.contentInputAndButton {
    display: flex;
    align-items: center;
    flex-direction: row;

    .contentInputs {
        width: -webkit-fill-available;
    }

    button {

        color: #3f71d2;
        border: 1px solid #00000014;
        font-size: 1.6em;
        line-height: 56px;
        height: 50px;
        border-radius: 5px;
        background-color: #e4eaf7;
        width: 2em;
        margin-left: 10px;
        cursor: pointer;
        margin-bottom: 9px;

        .iconLocation {
            font-size: 30px;
        }
    }
}

// .contentInputs.contentSelect:focus-within::after{
//     transform: translateY(-50%) rotate(180deg);
// }

/* Botones */
.btn-primary {
    color: white;
    background-color: $primary-Blue-BO;
    font-size: 17px;
    line-height: 42px;
    border: 0px;
    border-radius: 10px;
    width: 140px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #146EF5;
}

.btn-primary:disabled {
    background-color: #8BBAE9;
}

.btn-secondary {
    color: $secondary-Purple-BO;
    border: 2px solid $secondary-Purple-BO;
    background-color: transparent;
    font-size: 17px;
    line-height: 42px;
    border-radius: 10px;
    width: 140px;
    font-weight: bold;
    padding: 0 1.5em;
}

.btn-secondary:hover {
    color: #774BD2;
    border-color: #774BD2;
}

.btn-secondary:disabled {
    color: #b38dff;
    border-color: #b38dff;
}

/* Definición de las fuentes */
@font-face {
    font-family: "Lexend Deca Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Bold";
    font-weight: bold;
    font-style: normal;
    src: url("./LexendDeca-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Semi Bold";
    font-weight: 600;
    font-style: normal;
    src: url("./LexendDeca-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Medium";
    font-weight: 500;
    font-style: normal;
    src: url("./LexendDeca-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Light";
    font-weight: 300;
    font-style: normal;
    src: url("./LexendDeca-Light.ttf") format("truetype");
}

/* Clases CSS */
.lexend-deca-regular {
    font-family: "Lexend Deca Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.lexend-deca-bold {
    font-family: "Lexend Deca Bold", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.lexend-deca-semi-bold {
    font-family: "Lexend Deca Semi Bold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lexend-deca-medium {
    font-family: "Lexend Deca Medium", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lexend-deca-light {
    font-family: "Lexend Deca Light", sans-serif;
    font-weight: 300;
    font-style: normal;
}