.hide {
    display: none;
}

/* Notificaciones */
ul.notifications {
    position: absolute;
    z-index: 100;
    width: fit-content;
    padding: 0;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32em;
        gap: 12px;
        margin: 5px;
        border-radius: 10px;
        background-color: #1E2029;

        span {
            display: contents;

            p {
                padding: 0 2.5em 0 1em;
            }

            i {
                font-size: 25px;
                cursor: pointer;
                position: absolute;
                right: 13px;
            }
        }
    }

    li.successNotification {
        color: #14F546;
        border: 2px #14F546 solid;
    }

    li.errorNotification {
        color: #F51414;
        border: 2px #F51414 solid;
    }
}

/* FIN de notificaciones */

body {
    background-color: $primary-Black-BO;
    font-family: "Lexend Deca Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin: 0;

    overflow: hidden;
}

main.internal_view {
    background-color: $primary-White-BO;
    width: 82vw;
    height: 100vh;
    border-radius: 60px 0px 0px 0px;

    position: sticky;
    top: 0;

    color: $primary-Black-BO;
}

button,
input,
select,
textarea {
    font-family: "Lexend Deca Light", sans-serif;
    font-weight: normal;
}

/* Inputs */
.contentInputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    position: relative;

    label {
        color: white;
        font-size: 1.2em;
        margin-bottom: 5px;
        text-align: left;
    }

    ion-icon {
        position: absolute;
        left: 10px;
        top: 68%;
        transform: translateY(-50%);
        color: #545358;
        font-size: 1.5em;
    }

    input {
        line-height: 2em;
        height: 50px;
        padding: 0 10px;
        padding-left: 40px;
        font-size: 1em;
        background-color: $secondary-Black-BO;
        border: 0px;
        border-bottom: 3px solid $primary-Blue-BO;
        outline: none;
        border-radius: 10px;
        color: #545358;
    }

    input:focus {
        box-shadow: 0px 4px 4.5px 0px $secondary-Blue-Brandeis-BO;
        border-bottom: 3px solid transparent !important;
    }

    input:focus,
    input:not(:placeholder-shown) {
        line-height: 2em;
        height: 50px;
        padding: 0 10px;
        padding-left: 40px;
        font-size: 1em;
        background-color: $secondary-Black-BO;
        border: 0px;
        border-bottom: 3px solid $primary-Blue-BO;
        outline: none;
        border-radius: 10px;
        color: white;
    }

    input:focus~ion-icon,
    input:not(:placeholder-shown)~ion-icon {
        color: white;
    }
}

.contentPassword {
    ion-icon[name^="eye"] {
        position: absolute;
        right: 10px;
        left: auto;
        top: 68%;
        transform: translateY(-50%);
        color: white;
        font-size: 1.5em;
    }

    input {
        padding-right: 40px;
    }
}

/* Botones */
.btn-primary {
    color: white;
    background-color: $primary-Blue-BO;
    font-size: 17px;
    line-height: 42px;
    border: 0px;
    border-radius: 10px;
    width: 140px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #146EF5;
}

.btn-primary:disabled {
    background-color: #8BBAE9;
}

/* Definición de las fuentes */
@font-face {
    font-family: "Lexend Deca Regular";
    font-weight: normal;
    font-style: normal;
    src: url("./LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Bold";
    font-weight: bold;
    font-style: normal;
    src: url("./LexendDeca-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Semi Bold";
    font-weight: 600;
    font-style: normal;
    src: url("./LexendDeca-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Medium";
    font-weight: 500;
    font-style: normal;
    src: url("./LexendDeca-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend Deca Light";
    font-weight: 300;
    font-style: normal;
    src: url("./LexendDeca-Light.ttf") format("truetype");
}

/* Clases CSS */
.lexend-deca-regular {
    font-family: "Lexend Deca Regular", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.lexend-deca-bold {
    font-family: "Lexend Deca Bold", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.lexend-deca-semi-bold {
    font-family: "Lexend Deca Semi Bold", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lexend-deca-medium {
    font-family: "Lexend Deca Medium", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lexend-deca-light {
    font-family: "Lexend Deca Light", sans-serif;
    font-weight: 300;
    font-style: normal;
}