body#home {
    main {
        display: flex;
        flex-direction: row;

        section#dashBoard {
            width: -webkit-fill-available;
            padding: 1em 2em;

            #information_cards{
                h2{

                }
                .content_cards{
                    .card{
                        
                    }
                }
            }
        }

        section#infUsers {
            min-width: 20em;
            background-color: red;
        }
    }
}