// body#login{
//     background-image: url(../img/Trama-BO.svg);
//     background-repeat: no-repeat;
//     background-position: center;
//     object-fit: cover;
//     background-attachment: fixed;
//     background-size: contain;
//     background-blend-mode: hard-light;
// }

div.shapeLogin:nth-of-type(1) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 40%;
    background: linear-gradient(#8BBAE9, #9A6AFF);
    // left: 680px;
    // top: 16px;
    top: 50%;
    left: 50%;
    transform: translate(97%, -250%);
    z-index: 1;
}

div.shapeLogin:nth-of-type(2) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 40%;
    background: linear-gradient(#8BBAE9, #9A6AFF);
    top: 50%;
    left: 50%;
    transform: translate(-200%, 150%);
    z-index: 1;
}

main#contentLogin {
    // width: 34em;
    // height: 40em;
    height: 600px;
    width: 400px;
    /* background-color: rgba(255, 255, 255, 0.13);*/
    background-color: #3e71d221;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
    text-align: center;
    z-index: 2;

    h1 {
        color: white;
        text-align: center;
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1.5em;
        text-shadow: 2px 2px 5px #3e71d2;
    }

    form {

        img {
            position: fixed;
            top: -71px;
            width: 17em;
            left: 23%;
            mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
        }

        a.textChangePass {
            display: block;
            text-align: left;
            margin-bottom: 2em;
            font-size: 14px;
            color: white;
            text-decoration: none;
        }

        a.textChangePass:hover {
            i {
                margin-left: 0.5em;
            }
        }
    }

    div.separator {
        width: 100%;
        display: flex;
        color: white;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        margin-top: 2.4em;
        gap: 5px;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #1E2029;
            border-radius: 5px;
        }
    }

    div.contentIcons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 2em;

        a {
            text-decoration: none;

            img {
                width: 2em;
            }
        }
    }
}