div.shapeRecover:nth-of-type(1) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 40%;
    background: linear-gradient(#8BBAE9, #9A6AFF);
    // left: 680px;
    // top: 16px;
    top: 50%;
    left: 50%;
    transform: translate(97%, -250%);
    z-index: 1;
}

div.shapeRecover:nth-of-type(2) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 40%;
    background: linear-gradient(#8BBAE9, #9A6AFF);
    top: 50%;
    left: 50%;
    transform: translate(-200%, 150%);
    z-index: 1;
}

main#contentRecoverPassword {
    height: 600px;
    width: 400px;
    background-color: #3e71d221;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 20px 35px;
    text-align: center;
    z-index: 2;

    a {
        color: $neutral-White-Smoke-BO;
        font-size: 13px;
        text-decoration: none;
        position: absolute;
        left: 0px;
        top: 11px;
        width: 5.5em;
        text-align: right;

        i {
            margin-right: 2px;
        }
    }

    a:hover {
        color: $neutral-Platinum-BO;

        i {
            margin-right: 8px;
        }
    }

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
        margin-top: 2em;
        text-shadow: 2px 2px 5px #3e71d2;
    }

    p {
        margin-bottom: 4.5em;
        font-size: small;
    }

    form {
        a.textChangePass {
            display: block;
            text-align: left;
            margin-bottom: 2em;
            font-size: 14px;
            color: white;
            text-decoration: none;
        }

        a.textChangePass:hover {
            i {
                margin-left: 0.5em;
            }
        }

        button {
            margin-top: 2em;
        }
    }
}