// Primarios
$primary-Black-BO: #0A0A0A; // Rich Black
$primary-Blue-BO: #3E71D2; // Blue Jeans
$primary-White-BO: #F9F9F9; // Seasalt Wh

// Secundarios
$secondary-Purple-BO: #9A6AFF; // Medium Purple
$secondary-Black-BO: #1E2029; // Raisin Black
$secondary-Blue-BO: #8BBAE9; // Jordy Blue
$secondary-Blue-Brandeis-BO: #146EF5; // Brandeis Blue

// Neutros
$neutral-Platinum-BO: #E3E3E3; // Platinum
$neutral-White-Smoke-BO: #F2F2F2; // White Smoke