<%- include("./hooks/notifications"); -%>
<main>
    <h1>Data from API</h1>
    <ul>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" required>
            <label for="password">Contraseña</label>
            <input type="password" name="password" required>

            <a href="/resetPassword">Cambiar la contraseña</a>

            <button type="submit">Enviar</button>
        </form>
    </ul>
</main>