<%- include("./hooks/notifications"); -%>

    <div class="shapeRecover"></div>

    <main id="contentRecoverPassword">
        <a href="/login"><i class="fa-solid fa-chevron-left"></i> volver</a>

        <h1>Recuperar contraseña</h1>
        <p>Si tu correo electrónico está registrado con una cuenta se le enviara un correo donde tendrá el link que lo redireccionará a cambiar su contraseña</p>

        <form action="/recoverPassword" method="post">

            <div class="contentInputs">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="email" autocomplete="email" placeholder="email@dominio.com"
                    required>
                <ion-icon name="mail-outline"></ion-icon>
            </div>

            <button type="submit" class="btn-primary">Enviar</button>

        </form>

    </main>

    <div class="shapeRecover"></div>