<%- include("./hooks/notifications"); -%>
    <main id="contentResetPassword">
        <a href="/login"><i class="fa-solid fa-chevron-left"></i> Login</a>

        <h1>Recuperar contraseña</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolor minima, saepe eius ipsum minus fuga quae harum doloribus pariatur, assumenda vel cupiditate, ipsa sit modi! Nesciunt ea modi ipsa!</p>

        <form action="/resetPassword" method="post">

            <div class="contentInputs">
                <label for="newPassword">Nueva contraseña</label>
                <input type="password" name="newPassword" id="newPassword" autocomplete="off" required>
                <!-- autocomplete="nope" -->
                <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contentInputs">
                <label for="confirmPassword">Confirma contraseña</label>
                <input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off" required>
                <ion-icon name="mail-outline"></ion-icon>
            </div>

            <button type="submit" class="btn-primary">Enviar</button>

        </form>

    </main>